body {
	margin: 15px auto;/* Выравнивание содержимого страницы по центру */
	font-family: Arial, "MS Trebuchet", sans-serif;/* Задание базовых стилей шрифтов */
	width: 960px;
}

p {
	margin: 0 0 20px 0;
}

p, li {
	line-height: 20px;
}

#page_header {
	width: 100%;/* Определяем ширину заголовка */
}

/* Оформление навигационных ссылок - преобразование маркированных списков в 
	горизонтальные навигационные панели */
#page_header > nav > ul, #page_footer > nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#page_header > nav > ul >li, #page_footer > nav > ul >li {
	margin: 0 20px 0 0;/* Добавляем небольшие поля справа от каждого элемента <li> */
	padding: 0;
	display: inline;
}

#posts {
	float: left;/* Раздел posts размещается слева */
	width: 74%;/* Задаём ширину раздела posts */
}

#posts aside {
	float: right;/* Выноска в статье размещается справа */
	font-size: 20px;/* Увеличим размер шрифта */
	line-height: 40px;
	margin-left: 5%;
	width: 35%;
}

#sidebar {
	float: left;/* Размещаем боковую панель */
	width: 25%;/* Определяем ширину боковой панели */
}

#page_footer {
	clear: both;/* чтобы footer располагался в нижней части страницы */
	display: block;
	text-align: center;
	width: 100%;
}